#userDropdown {
    margin-bottom: 20px;
    width: 100%;
}


#user {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.fieldname,
.fieldvalue {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;

}

.controls {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add,
.remove {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.add:hover,
.remove:hover {
    background-color: #0056b3;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

select.transaction_type {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.method_name {
    width: 50%;
    
    padding: 8px;
    margin-left: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;

    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


button:hover {
    background-color: #45a049;
}